extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Felix Ghislain

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer | Treehouse Techdegree student | Lifelong learner.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |Hi, I’m Felix, welcome to my site so nice to meet you!
            |I’m passionate about creating beautiful,
            |websites and web applications. Before that, I got my Bsc in Computer Science.
            |I’m am currently looking for a postion as a junior front-end / javascript developer to learn 
            |more about and be part of awesome technology and projects built in the real world and grow into assuming a senior Javascript developer role in the next few years,
            |and would love to be given the opportunity to do what i love. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li Jquery
          li Node js 
          li Express
        h6 Contact Info

        //- Add your own contact info
        ul
          li 07472846992
          li felixghislain@yahoo.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/feed/') LinkedIn
        a.button.expanded(href='https://github.com/felixghislaindev') GitHub
        a.button.expanded(href='https://www.instagram.com/?hl=en') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  